# If this is your first time writing a language grammar, check out:
#   - http://manual.macromates.com/en/language_grammars

'scopeName': 'source.bow'
'name': 'Bowtie'
'fileTypes': [
  'BOW'
]
'patterns': [
  {
    'match': 'for'
    'name': 'keyword.control.js'
  },
  {
    'match': '^\\s*[!|a-zA-Z]\\w*(?=\\.|#|\\(|\\s|:|{)'
    'name': 'entity.name.tag.block.any.html'
  },
  {
    'match': '\\"[^\\"]*\\"'
    'name': 'string.quoted.double.js'
  },
  {
    'match': '\\.\\w+'
    'name': 'entity.other.attribute-name.html'
  },
  {
    'match': '\\#\\w+'
    'name': 'entity.other.attribute-name.id.html'
  },
  {
    'match': '(\\$[a-zA-Z][\\w|.|\\[|\\]]*)\\s*[\\->|\\(]+'
    'captures':
      '1':
        'name': 'storage.type.function.js'
  },
  {
    'match': '\\$[a-zA-Z][\\w|.|\\[|\\]]*'
    'name': 'entity.name.function.js'
  }

]
